body {
	font-family: Arial, san-serif;
	height: 100%;
	margin: 0;
	padding: 0;
}

.container {
	height: 100%;
	position: relative;
}

#map {
	height: 100%;
	bottom: 0px;
	left: 362px;
	position: absolute;
	right: 0px;
}

hr {
    background: #D0D7D9;
    height: 1px;
    margin: 20px 0 20px 0;
    border: none;
}