body {
	font-family: 'Lobster', cursive;
	height: 100%;
	margin: 0;
	padding: 0;
}

#map {
	bottom: 0px;
	height: 100%;
	left: 375px;
	position: absolute;
	right: 0px;
}

.container {
	height: 100%;
	position: relative;
	
	margin: 0 auto;
}

.option-box {
	background: #fff;
	height: 100%;
	width: 360px;
}

#pano {
    width: 400px;
    height: 200px;
}

li {
	list-style: none;
	margin-left: -25px;
	border-top: 1px solid black;
	line-height: 35px;
}

li:hover {
	background-color: #B2DFDB;
}

.search {
	width: 350px;
	margin: 0 auto;
	margin-left: 10px;
}

input {
	width: 340px;
	height: 30px;
}

h1 {
	margin-left: 10px;
}

h2 {
	margin-left: 10px;
}

